<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}I AM THE FATHER {% endblock %}</title>

</head>
<body>
    <h3> <center> I AM THE JUANS FATHER!</center></h3>
    <h3> My children: </h3>
    <ul>
        <li> Carlos</li>
        <li> mario</li>
        <li> felipe</li>
        <li> Camila</li>
        <li> jose</li>
    </ul>
    <footer><small> <strong> Derechos reservados!</strong></small></footer>
    {% block content %}

     {% endblock %}
</body>
</html>