<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Api Movie</title>
</head>
<body>
<h3> <center> Ingresa los datos de la pelicula </center></h3>
    <form action="{% url "Api" %}" method="POST">   
    
        {{form.as_p}}
        
        <input type="submit" name="enviar" value="enviar">
        {% csrf_token %}
    </form>  

    
    
</body>
</html>