<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <h3> <center> welcome to my APIstore!</center></h3>
    <h3> date: {{date}}</h3>
    <h3> frameworks: {{frameworks}}</h3>
    {% for framework in frameworks %}
    <ul>
        <li> {{framework}}</li>
    </ul>
    {% endfor %}
    {% if "Laravele" in frameworks %}
    <h3> Item valido!</h3>
    {% else %}
    <h3> item invalido!</h3>
    {% endif %}
    <footer> <small> Derechos reservados!</small></footer>
</body>
</html>